{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title> Статьи блога </title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css} %"/>
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div id="logo"> <img src="{% static 'logo.jpg' %}" alt=""/></div>
            <div id="visot"><img src="{%static 'visot.png' %}" width="600" height="200" alt=""/></div>
        </header>
        <aside id="leftsidebar">
            <nav id="nav">
                <ul> {% block sidenav %}
                    <li> <a href="https://www.w3schools.com"> HTML</a> </li>
                    <li> <a href="/contact"> Свяжитесь с нами</a> </li>
                    {% endblock sidenav %}
                </ul>
            </nav>
        </aside>
        <section id="main">
            <h1> Welcome!</h1>
            {% block content %}
                {% if latest_articles_list %}
                    {% for a in latest_articles_list %}
                        <a href="{% url 'app:details' a.id %}">
                            <p> {{a.article_title}}</p></a>
                    {% endfor %}
                {%else%}
                    Статьи не найдены
                {%endif%}
            {%endblock%}
        </section>
        <footer id="footer"> Copyright & copy; 2022 Personal blog Design</footer>
    </div>
</body>
</html>